@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 204 17% 94%;
    --foreground: 224 71.4% 4.1%;
    --card: 204 17% 99%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 204 17% 99%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 207 70% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 95.5%;
    --secondary-foreground: 224 71.4% 4.1%;
    --muted: 215 27.9% 95.5%;
    --muted-foreground: 223 44.8% 46.5%;
    --accent: 25 80% 52%;
    --accent-foreground: 48 95.5% 98.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 25% 90%;
    --input: 215 25% 90%;
    --ring: 207 70% 53%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 207 70% 53%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 25 80% 52%;
    --accent-foreground: 48 95.5% 98.2%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 207 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
